<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<p>
  <b>User:</b>
  <%= @project.user.email %>
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Content:</b>
  <%= @project.content %>
</p>

<%= link_to 'Edit', edit_project_path(@project) ,class: "btn btn-default"%> |
<%= link_to 'Back', projects_path, class: "btn btn-default" %>

<h2>Bugs</h2>
<% @project.bugs.each do |bug| %>
  <p>
    <b>Bug:</b>
    <%= bug.name %>
  </p>

  <p>
    <b>Content:</b>
    <%= bug.body %>
  </p>
  <p>
  <p>
    <b>Status:</b>
    <%= bug.status %>
  </p>
  <p>
  <%= link_to 'Edit',edit_project_bug_path(@project,bug), class: "btn btn-sm btn-default"%> |
  <%= link_to 'Destroy Bug', [bug.project, bug], method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-sm btn-default" %>
  </p>
<% end %>


<h2>Add a bug:</h2>
<%= form_for([@project, @project.bugs.build]) do |f| %>
  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Content %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :Status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<br>
